    /* ===== Google Font Import - Poppins ===== */
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
      transition: all 0.4s ease;
      ;
    }

    /* Width and height of the scrollbar track */
    ::-webkit-scrollbar {
      width: 7px;
      height: 10px;
    }

    /* Background color of the scrollbar track */
    ::-webkit-scrollbar-track {
      background: black;
    }

    /* Color of the scrollbar handle */
    ::-webkit-scrollbar-thumb {
      background: #20d1ff;
      border-radius: 20px;
    }


    /* ===== Colours ===== */
    :root {

      --body-color: #022e3d;
      --nav-color: #0688d496;
      --nav-color1: #ffffff;
      --side-nav: #0688d4;
      --text-color: #ffffff;
      --search-bar: #0688d496;
      --search-text: #ffffff;
    }
    nav {
      position: fixed;
      top: 0;
      left: 0;
      height: 70px;
      width: 100%;
      background-color: #022e3d;
      z-index: 100;
    }

    body.dark nav {
      border: 1px solid #0688d447;

    }

    nav .nav-bar {
      position: relative;
      height: 100%;
      max-width: 1000px;
      width: 100%;
      margin: 0 auto;
      padding: 0 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    nav .nav-bar .logo{
      text-decoration: none;
      color: #fff;
      font-weight: 700;
      /* font-size: 1.8em; */
      width: 100%;
      /* margin-right: 70%; */
      height: 60px;
      transition: 0.7s ease
  }
  
  nav .nav-bar .logo img{
    border-radius: 50%;
    margin-right: 85%;
  }

    nav .nav-bar .sidebarOpen {
      color: var(--text-color);
      font-size: 25px;
      padding: 5px;
      cursor: pointer;
      display: none;
    }

    .logo {
      width: 180px;
      justify-content: center;
      display: flex;
    }

    nav .nav-bar .logo a {
      font-size: 30px;
      font-weight: 500;
      color: var(--text-color);
      text-decoration: none;

    }

    .menu .logo-toggle {
      display: none;
    }

    .menu {
      position: fixed;
      width: 500px;
      left: 35%;
      /* right: 100%; */
      top: 0;
      padding: 20px;
      z-index: 100;
      transition: all 0.4s ease;
    }

    .nav-bar .nav-links {
      display: flex;
      align-items: center;
    }

    .nav-bar .nav-links li {
      margin: 0 5px;
      list-style: none;
    } 

    .nav-links li a {
      position: relative;
      font-size: 20px;
      font-weight: 400;
      color: var(--text-color);
      text-decoration: none;
      padding: 10px;
    }

    .nav-links li a::before {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      height: 6px;
      width: 6px;
      border-radius: 50%;
      background-color: var(--text-color);
      opacity: 0;
      transition: all 0.3s ease;
    }

    .nav-links li:hover a::before {
      opacity: 1;
    }

    .nav-bar .darkLight-searchBox {
      display: flex;
      align-items: center;
    }

    .darkLight-searchBox .dark-light,
    .darkLight-searchBox .searchToggle {
      height: 40px;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 5px;
    }

    .dark-light i,
    .searchToggle i {
      position: absolute;
      color: var(--text-color);
      font-size: 22px;
      cursor: pointer;
      transition: all 0.3s ease;
    }

    .searchToggle i.cancel {
      opacity: 0;
      pointer-events: none;
    }

    .searchToggle.active i.cancel {
      opacity: 1;
      pointer-events: auto;
    }

    .searchToggle.active i.search {
      opacity: 0;
      pointer-events: none;
    }

    .searchToggle i.cancel{
      opacity: 0;
      pointer-events: none;
  }
  
  .searchToggle.active i.cancel{
      opacity: 1;
      pointer-events: auto;
  }
  
  .searchToggle.active i.search{
      opacity: 0;
      pointer-events: none;
  }
  
  .searchBox{
      position: relative;
  }
  .account {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    border: 3px solid white;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
  }
  .account .searchToggle img{
    width: 120% !important;
    border-radius: 50px;
    height: 110% !important;
    background-size: cover;
    cursor: pointer;
  }
  .searchBox .search-field{
      position: absolute;
      bottom: -85px;
      right: 5px;
      height: 50px;
      width: 300px;
      display: flex;
      align-items: center;
      background-color: var(--nav-color);
      padding: 3px;
      border-radius: 6px;
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
      opacity: 0;
      pointer-events: none;
      transition: all 0.3s ease;
  }
  
  .searchToggle.active ~ .search-field{
      bottom: -74px;
      opacity: 1;
      pointer-events: auto;
  }
  
  .search-field::before{
      content: '';
      position: absolute;
      right: 14px;
      top: -4px;
      height: 12px;
      width: 12px;
      background-color: var(--nav-color);
      transform: rotate(-45deg);
      z-index: -1;
  }
  
  .search-field input{
      height: 100%;
      width: 100%;
      padding: 0 45px 0 15px;
      outline: none;
      border: none;
      border-radius: 4px;
      font-size: 14px;
      font-weight: 400;
      color: var(--search-text);
      background-color: var(--search-bar);
  }
  
  body.dark .search-field input{
      color: var(--text-color);
  }

.search-field input::placeholder{
    color: white !important;
  }
  
  .search-field i{
      position: absolute;
      color: var(--nav-color1);
      right: 15px;
      font-size: 22px;
      cursor: pointer;
  }
  
  body.dark .search-field i{
      color: var(--text-color);
  }

    :root{
      --blue:#3498db;
      --dark-blue:#2980b9;
      --red:#e74c3c;
      --dark-red:#c0392b;
      --black:#333;
      --white:#fff;
      --light-bg:#eee;
      --box-shadow:0 5px 10px rgba(0,0,0,.1);
   }

    .filters{
      position: fixed;
      width:20%;
      height: 45%;
      right: 0px;
      top:70px;
      padding: 25px;
      border: .5px solid black;
      border-radius: 3px;
      display: flex;
      flex-direction: column;
    align-items: center;
   justify-content: center;
   background-image: linear-gradient(to left, #02f, #000c00);
   }
   .filters img{
   height: 100px;
   width: 100px;
   border-radius: 50%;
   object-fit: cover;
   margin-bottom: 5px;
   }
   .btn,
   .delete-btn{
   width: 100%;
   border-radius: 5px;
   padding:10px 30px;
   color:var(--white);
   display: block;
   text-align: center;
   cursor: pointer;
   font-size: 20px;
   margin-top: 10px;
   }
   
   .btn{
   background-color: var(--blue);
   text-decoration: none;
   font-size:12px;
   }
   
   .btn:hover{
   background-color: var(--dark-blue);
   }
   
   .delete-btn{
   background-color: var(--red);
   text-decoration: none;
   font-size:12px;
   
   }
   
   .delete-btn:hover{
   background-color: var(--dark-red);
   }
   .filters h3{
   margin:5px 0;
   font-size: 15px !important;
   color:var(--white);
   }
   
   .filters p{
   margin-top: 20px;
   color:var(--white);
   font-size: 20px;
   }
   
   .filters p a{
   color:var(--red);
   }
   
   .filters p a:hover{
   text-decoration: none;
   

   
   }


   @media  (min-width:576px) and (max-width:775px) {
    .filters{
      position: fixed;
      width:30% !important;
      height: 45%;
      right: 0px;
      top:70px;
      padding: 25px;
      border: .5px solid rgb(0, 0, 0);
      border-radius: 3px;
      display: flex;
      flex-direction: column;
    align-items: center;
   justify-content: center;
   
   background-image: linear-gradient(to left, #02f, #000c00);
   }
   .filters img{
   height: 80px;
   width: 80px;
   border-radius: 50%;
   object-fit: cover;
   margin-bottom: 5px;
   }
   .btn,
   .delete-btn{
   width: 100%;
   border-radius: 5px;
   padding:10px 30px;
   color:var(--white);
   display: block;
   text-align: center;
   cursor: pointer;
   font-size: 20px;
   margin-top: 10px;
   }
   
   .btn{
   background-color: var(--blue);
   text-decoration: none;
   font-size:12px;
   }
   
   .btn:hover{
   background-color: var(--dark-blue);
   }
   
   .delete-btn{
   background-color: var(--red);
   text-decoration: none;
   font-size:12px;
   
   }
   
   .delete-btn:hover{
   background-color: var(--dark-red);
   }
   .filters h3{
   margin:5px 0;
   font-size: 15px !important;
   color:var(--white);
   }
   
   .filters p{
   margin-top: 20px;
   color:var(--white);
   font-size: 20px;
   }
   
   .filters p a{
   color:var(--red);
   }
   
   .filters p a:hover{
   text-decoration: none;
   }
  }

  @media  (min-width:500px) and (max-width:575px) {
    .filters{
      position: fixed;
      width:35%;
      height: 45%;
      right: 0px;
      top:70px;
      padding: 25px;
      border: .5px solid black;
      border-radius: 3px;
      display: flex;
      flex-direction: column;
    align-items: center;
   justify-content: center;
   background-image: linear-gradient(to left, #02f, #000c00);
   }
   .filters img{
   height: 80px;
   width: 80px;
   border-radius: 50%;
   object-fit: cover;
   margin-bottom: 5px;
   }
   .btn,
   .delete-btn{
   width: 100%;
   border-radius: 5px;
   padding:10px 30px;
   color:var(--white);
   display: block;
   text-align: center;
   cursor: pointer;
   font-size: 20px;
   margin-top: 10px;
   }
   
   .btn{
   background-color: var(--blue);
   text-decoration: none;
   font-size:12px;
   }
   
   .btn:hover{
   background-color: var(--dark-blue);
   }
   
   .delete-btn{
   background-color: var(--red);
   text-decoration: none;
   font-size:12px;
   
   }
   
   .delete-btn:hover{
   background-color: var(--dark-red);
   }
   .filters h3{
   margin:5px 0;
   font-size: 15px !important;
   color:var(--white);
   }
   
   .filters p{
   margin-top: 20px;
   color:var(--white);
   font-size: 20px;
   }
   
   .filters p a{
   color:var(--red);
   }
   
   .filters p a:hover{
   text-decoration: none;
   }
  }

  @media  (min-width:359px) and (max-width:499px) {
    .filters{
      position: fixed;
      width:45%;
      height: 45%;
      right: 0px;
      top:70px;
      padding: 15px;
      border: .5px solid black;
      border-radius: 3px;
      display: flex;
      flex-direction: column;
    align-items: center;
   justify-content: center;
   background-image: linear-gradient(to left, #02f, #000c00);
   }
   .filters img{
   height: 80px;
   width: 80px;
   border-radius: 50%;
   object-fit: cover;
   margin-bottom: 5px;
   }
   .btn,
   .delete-btn{
   width: 100%;
   border-radius: 5px;
   padding:10px 30px;
   color:var(--white);
   display: block;
   text-align: center;
   cursor: pointer;
   font-size: 20px;
   margin-top: 10px;
   }
   
   .btn{
   background-color: var(--blue);
   text-decoration: none;
   font-size:10px;
   }
   
   .btn:hover{
   background-color: var(--dark-blue);
   }
   
   .delete-btn{
   background-color: var(--red);
   text-decoration: none;
   font-size:10px;
   
   }
   
   .delete-btn:hover{
   background-color: var(--dark-red);
   }
   .filters h3{
   margin:5px 0;
   font-size: 15px !important;
   color:var(--white);
   }
   
   .filters p{
   margin-top: 20px;
   color:var(--white);
   font-size: 20px;
   }
   
   .filters p a{
   color:var(--red);
   }
   
   .filters p a:hover{
   text-decoration: none;
   }
  }

  @media  (min-width:300px) and (max-width:360px) {
    .filters{
      position: fixed;
      width:47%;
      height: 45%;
      right: 0px;
      top:70px;
      padding: 15px;
      border: .5px solid black;
      border-radius: 3px;
      display: flex;
      flex-direction: column;
    align-items: center;
   justify-content: center;
   background-image: linear-gradient(to left, #02f, #000c00);
   }
   .filters img{
   height: 80px;
   width: 80px;
   border-radius: 50%;
   object-fit: cover;
   margin-bottom: 5px;
   }
   .btn,
   .delete-btn{
   width: 100%;
   border-radius: 5px;
   padding:10px 30px;
   color:var(--white);
   display: block;
   text-align: center;
   cursor: pointer;
   font-size: 20px;
   margin-top: 10px;
   }
   
   .btn{
   background-color: var(--blue);
   text-decoration: none;
   font-size:10px;
   }
   
   .btn:hover{
   background-color: var(--dark-blue);
   }
   
   .delete-btn{
   background-color: var(--red);
   text-decoration: none;
   font-size:10px;
   
   }
   
   .delete-btn:hover{
   background-color: var(--dark-red);
   }
   .filters h3{
   margin:5px 0;
   font-size: 15px !important;
   color:var(--white);
   }
   
   .filters p{
   margin-top: 20px;
   color:var(--white);
   font-size: 20px;
   }
   
   .filters p a{
   color:var(--red);
   }
   
   .filters p a:hover{
   text-decoration: none;
   }
   
  }


    @media (max-width: 790px) {
        nav .nav-bar .sidebarOpen {
          display: block;
        }
  
        .menu {
          position: fixed;
          height: 100%;
          width: 300px;
          left: -100%;
          top: 0;
          padding: 20px;
          background-color: var(--side-nav);
          z-index: 100;
          transition: all 0.4s ease;
        }
  
        nav.active .menu {
          left: -0%;
        }
  
        nav.active .nav-bar .navLogo a {
          opacity: 0;
          transition: all 0.3s ease;
        }
  
        .menu .logo-toggle {
          display: block;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content:space-between;
        }
  
        .logo-toggle .siderbarClose {
          color: var(--text-color);
          font-size: 24px;
          cursor: pointer;
        }
  
        .nav-bar .nav-links {
          flex-direction: column;
          padding-top: 30px;
          padding-left: 0px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
  
        .nav-links li a {
          display: block;
          margin-top: 20px;
        }
      }
                      